#Configure Settings
#Wed Nov 08 00:06:00 GMT+09:00 2023
AutoJoin=false
AutoLeave=true
DictionarySavePath=dictionary
DiscordCommand=\!njoin
DiscordToken=OTg2MjI4ODMzNDM2OTkxNTU4.GP60mq.At8i08uvCZIMI0TR6wAPf3cEjP2IZknWPWXEog
NarrateExportPath=audio
NarrateGenerateCommand=audio_gen.bat
NarrateGenerateDelay=-1
NarrateGenerateLog=true
NarrateGenerateTimeout=2
NarrateIgnorePrefix=\!
NarrateNameMode=off
NarrateUrlMode=message
